IF OBJECT_ID('POLYMART_v1') IS NOT NULL
DROP DATABASE POLYMART_v1
GO

CREATE DATABASE POLYMART_v1
GO

USE [POLYMART_v1]
GO
/****** Object:  Table [dbo].[ANHSANPHAM]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANHSANPHAM](
	[IDCHITIETSANPHAM] [int] NOT NULL,
	[TENANH] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ANHSANPHAM] PRIMARY KEY CLUSTERED 
(
	[IDCHITIETSANPHAM] ASC,
	[TENANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[IDNHANVIEN] [int] NOT NULL,
	[NGAYCHAMCONG] [datetime] NOT NULL,
 CONSTRAINT [PK_CHAMCONG] PRIMARY KEY CLUSTERED 
(
	[IDNHANVIEN] ASC,
	[NGAYCHAMCONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETSANPHAM]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSANPHAM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDSANPHAM] [int] NULL,
	[MAUSAC] [nvarchar](20) NOT NULL,
	[SIZE] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIABAN] [money] NULL,
	[GIAVON] [money] NULL,
	[GIAGIAM] [money] NULL,
	[NGAYCAPNHAT] [datetime] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_CHITIETSANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADONNHAPHANG]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONNHAPHANG](
	[IDHOADONNHAPHANG] [int] NOT NULL,
	[IDCHITIETSANPHAM] [int] NOT NULL,
	[GIANHAP] [money] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETHOADONNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[IDHOADONNHAPHANG] ASC,
	[IDCHITIETSANPHAM] ASC,
	[GIANHAP] ASC,
	[SOLUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADONTHANHTOAN]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONTHANHTOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCHITIETSANPHAM] [int] NULL,
	[IDHOADONTHANHTOAN] [int] NULL,
	[SOLUONG] [int] NOT NULL,
	[GIAMGIATHEM] [money] NULL,
 CONSTRAINT [PK_CHITIETHOADONTHANHTOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADONTRAHANG]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONTRAHANG](
	[IDHOADONTRAHANG] [int] NOT NULL,
	[IDCHITIETHOADONTHANHTOAN] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETHOADONTRAHANG] PRIMARY KEY CLUSTERED 
(
	[IDHOADONTRAHANG] ASC,
	[IDCHITIETHOADONTHANHTOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIEU]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIEU](
	[MUCDICHCHITIEU] [nvarchar](100) NOT NULL,
	[IDNHANVIEN] [int] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[NGAYCHITIEU] [datetime] NOT NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_CHITIEU] PRIMARY KEY CLUSTERED 
(
	[MUCDICHCHITIEU] ASC,
	[IDNHANVIEN] ASC,
	[SOTIEN] ASC,
	[NGAYCHITIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONNHAPHANG]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAPHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDNHANVIEN] [int] NULL,
	[IDNGUONHANG] [int] NULL,
	[NGAYNHAP] [datetime] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_HOADONNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONTHANHTOAN]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONTHANHTOAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKHACHHANG] [int] NULL,
	[IDNHANVIEN] [int] NULL,
	[DIEMDADOI] [bigint] NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_HOADONTHANHTOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONTRAHANG]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONTRAHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDNHANVIEN] [int] NULL,
	[NGAYTRAHANG] [datetime] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_HOADONTRAHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SODIENTHOAI] [varchar](20) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[TICHDIEM] [bigint] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUONHANG]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUONHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](100) NOT NULL,
	[SODIENTHOAI] [varchar](20) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_NGUONHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[SODIENTHOAI] [varchar](20) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[CHUCVU] [int] NOT NULL,
	[MUCLUONG] [money] NOT NULL,
	[ANHDAIDIEN] [varchar](100) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 26/03/2021 10:30:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDLOAISANPHAM] [int] NULL,
	[TEN] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ANHSANPHAM] ([IDCHITIETSANPHAM], [TENANH]) VALUES (1, N'mat-sai.jpg')
INSERT [dbo].[ANHSANPHAM] ([IDCHITIETSANPHAM], [TENANH]) VALUES (1, N'mat-truoc.jpg')
INSERT [dbo].[ANHSANPHAM] ([IDCHITIETSANPHAM], [TENANH]) VALUES (2, N'mat-sau.jpg')
GO
INSERT [dbo].[CHAMCONG] ([IDNHANVIEN], [NGAYCHAMCONG]) VALUES (1, CAST(N'2021-03-26T22:11:26.660' AS DateTime))
INSERT [dbo].[CHAMCONG] ([IDNHANVIEN], [NGAYCHAMCONG]) VALUES (4, CAST(N'2021-03-26T22:12:42.853' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[CHITIETSANPHAM] ON 

INSERT [dbo].[CHITIETSANPHAM] ([ID], [IDSANPHAM], [MAUSAC], [SIZE], [SOLUONG], [GIABAN], [GIAVON], [GIAGIAM], [NGAYCAPNHAT], [TRANGTHAI]) VALUES (1, 1, N'Trắng', N'XL', 100, 490000.0000, 0.0000, 0.0000, CAST(N'2021-03-26T22:02:42.870' AS DateTime), 1)
INSERT [dbo].[CHITIETSANPHAM] ([ID], [IDSANPHAM], [MAUSAC], [SIZE], [SOLUONG], [GIABAN], [GIAVON], [GIAGIAM], [NGAYCAPNHAT], [TRANGTHAI]) VALUES (2, 1, N'Đen', N'L', 50, 490000.0000, 0.0000, 0.0000, CAST(N'2021-03-26T22:04:04.950' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[CHITIETSANPHAM] OFF
GO
INSERT [dbo].[CHITIETHOADONNHAPHANG] ([IDHOADONNHAPHANG], [IDCHITIETSANPHAM], [GIANHAP], [SOLUONG]) VALUES (1, 1, 90000.0000, 100)
INSERT [dbo].[CHITIETHOADONNHAPHANG] ([IDHOADONNHAPHANG], [IDCHITIETSANPHAM], [GIANHAP], [SOLUONG]) VALUES (1, 2, 90000.0000, 50)
GO
SET IDENTITY_INSERT [dbo].[CHITIETHOADONTHANHTOAN] ON 

INSERT [dbo].[CHITIETHOADONTHANHTOAN] ([ID], [IDCHITIETSANPHAM], [IDHOADONTHANHTOAN], [SOLUONG], [GIAMGIATHEM]) VALUES (1, 1, 1, 10, 0.0000)
INSERT [dbo].[CHITIETHOADONTHANHTOAN] ([ID], [IDCHITIETSANPHAM], [IDHOADONTHANHTOAN], [SOLUONG], [GIAMGIATHEM]) VALUES (2, 2, 1, 2, 0.0000)
SET IDENTITY_INSERT [dbo].[CHITIETHOADONTHANHTOAN] OFF
GO
INSERT [dbo].[CHITIETHOADONTRAHANG] ([IDHOADONTRAHANG], [IDCHITIETHOADONTHANHTOAN], [SOLUONG]) VALUES (1, 1, 1)
INSERT [dbo].[CHITIETHOADONTRAHANG] ([IDHOADONTRAHANG], [IDCHITIETHOADONTHANHTOAN], [SOLUONG]) VALUES (1, 2, 1)
GO
INSERT [dbo].[CHITIEU] ([MUCDICHCHITIEU], [IDNHANVIEN], [SOTIEN], [NGAYCHITIEU], [GHICHU]) VALUES (N'Tiền điện', 4, 300000.0000, CAST(N'2021-03-26T22:14:09.940' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[HOADONNHAPHANG] ON 

INSERT [dbo].[HOADONNHAPHANG] ([ID], [IDNHANVIEN], [IDNGUONHANG], [NGAYNHAP], [GHICHU]) VALUES (1, 1, 1, CAST(N'2021-03-26T22:15:24.693' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[HOADONNHAPHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADONTHANHTOAN] ON 

INSERT [dbo].[HOADONTHANHTOAN] ([ID], [IDKHACHHANG], [IDNHANVIEN], [DIEMDADOI], [NGAYTHANHTOAN], [GHICHU]) VALUES (1, 1, 4, NULL, CAST(N'2021-03-26T22:18:39.817' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[HOADONTHANHTOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADONTRAHANG] ON 

INSERT [dbo].[HOADONTRAHANG] ([ID], [IDNHANVIEN], [NGAYTRAHANG], [GHICHU]) VALUES (1, 4, CAST(N'2021-03-26T22:20:24.547' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[HOADONTRAHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([ID], [HOTEN], [SODIENTHOAI], [DIACHI], [TICHDIEM]) VALUES (1, NULL, N'03456789012', N'', NULL)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([ID], [TEN]) VALUES (1, N'Áo sơ mi')
INSERT [dbo].[LOAISANPHAM] ([ID], [TEN]) VALUES (2, N'Áo thun')
INSERT [dbo].[LOAISANPHAM] ([ID], [TEN]) VALUES (3, N'Quần jean')
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUONHANG] ON 

INSERT [dbo].[NGUONHANG] ([ID], [TEN], [SODIENTHOAI], [DIACHI]) VALUES (1, N'Adidas', N'18008198', N'Liên bang Nga')
SET IDENTITY_INSERT [dbo].[NGUONHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([ID], [HOTEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [EMAIL], [CHUCVU], [MUCLUONG], [ANHDAIDIEN], [MATKHAU]) VALUES (1, N'Nguyễn Quang Ngọc', CAST(N'1997-11-20T00:00:00.000' AS DateTime), 1, N'Sóc Sơn, Hà Nội', N'0345678912', N'ngocnq@fpt.edu.vn', 3, 5000000.0000, N'logo-ngocnq.jpg', N'12345678')
INSERT [dbo].[NHANVIEN] ([ID], [HOTEN], [NGAYSINH], [GIOITINH], [DIACHI], [SODIENTHOAI], [EMAIL], [CHUCVU], [MUCLUONG], [ANHDAIDIEN], [MATKHAU]) VALUES (4, N'Đỗ Văn Duy', CAST(N'1995-01-01T00:00:00.000' AS DateTime), 1, N'Quảng Ninh', N'0123456789', N'duy@fpt.edu.vn', 2, 5500000.0000, N'duy.jpg', N'123456789')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([ID], [IDLOAISANPHAM], [TEN]) VALUES (1, 1, N'Sơ mi công sở')
INSERT [dbo].[SANPHAM] ([ID], [IDLOAISANPHAM], [TEN]) VALUES (2, 2, N'Áo thun in hình 3D')
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
ALTER TABLE [dbo].[CHAMCONG] ADD  DEFAULT (getdate()) FOR [NGAYCHAMCONG]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] ADD  DEFAULT ((0)) FOR [GIABAN]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] ADD  DEFAULT ((0)) FOR [GIAVON]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] ADD  DEFAULT ((0)) FOR [GIAGIAM]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] ADD  DEFAULT (getdate()) FOR [NGAYCAPNHAT]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETHOADONTHANHTOAN] ADD  DEFAULT ((0)) FOR [GIAMGIATHEM]
GO
ALTER TABLE [dbo].[CHITIEU] ADD  DEFAULT (getdate()) FOR [NGAYCHITIEU]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] ADD  DEFAULT (getdate()) FOR [NGAYNHAP]
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN] ADD  DEFAULT (getdate()) FOR [NGAYTHANHTOAN]
GO
ALTER TABLE [dbo].[HOADONTRAHANG] ADD  DEFAULT (getdate()) FOR [NGAYTRAHANG]
GO
ALTER TABLE [dbo].[ANHSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_ANHSANPHAM_CHITIETSANPHAM] FOREIGN KEY([IDCHITIETSANPHAM])
REFERENCES [dbo].[CHITIETSANPHAM] ([ID])
GO
ALTER TABLE [dbo].[ANHSANPHAM] CHECK CONSTRAINT [FK_ANHSANPHAM_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSANPHAM] FOREIGN KEY([IDSANPHAM])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONNHAPHANG_CHITIETSANPHAM] FOREIGN KEY([IDCHITIETSANPHAM])
REFERENCES [dbo].[CHITIETSANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAPHANG] CHECK CONSTRAINT [FK_CHITIETHOADONNHAPHANG_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONNHAPHANG_HOADONNHAPHANG] FOREIGN KEY([IDHOADONNHAPHANG])
REFERENCES [dbo].[HOADONNHAPHANG] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAPHANG] CHECK CONSTRAINT [FK_CHITIETHOADONNHAPHANG_HOADONNHAPHANG]
GO
ALTER TABLE [dbo].[CHITIETHOADONTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONTHANHTOAN_CHITIETSANPHAM] FOREIGN KEY([IDCHITIETSANPHAM])
REFERENCES [dbo].[CHITIETSANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHOADONTHANHTOAN] CHECK CONSTRAINT [FK_CHITIETHOADONTHANHTOAN_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOADONTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONTHANHTOAN_HOADONTHANHTOAN] FOREIGN KEY([IDHOADONTHANHTOAN])
REFERENCES [dbo].[HOADONTHANHTOAN] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHOADONTHANHTOAN] CHECK CONSTRAINT [FK_CHITIETHOADONTHANHTOAN_HOADONTHANHTOAN]
GO
ALTER TABLE [dbo].[CHITIETHOADONTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONTRAHANG_CHITIETHOADONTHANHTOAN] FOREIGN KEY([IDCHITIETHOADONTHANHTOAN])
REFERENCES [dbo].[CHITIETHOADONTHANHTOAN] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHOADONTRAHANG] CHECK CONSTRAINT [FK_CHITIETHOADONTRAHANG_CHITIETHOADONTHANHTOAN]
GO
ALTER TABLE [dbo].[CHITIETHOADONTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONTRAHANG_HOADONTRAHANG] FOREIGN KEY([IDHOADONTRAHANG])
REFERENCES [dbo].[HOADONTRAHANG] ([ID])
GO
ALTER TABLE [dbo].[CHITIETHOADONTRAHANG] CHECK CONSTRAINT [FK_CHITIETHOADONTRAHANG_HOADONTRAHANG]
GO
ALTER TABLE [dbo].[CHITIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIEU_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[CHITIEU] CHECK CONSTRAINT [FK_CHITIEU_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAPHANG_NGUONHANG] FOREIGN KEY([IDNGUONHANG])
REFERENCES [dbo].[NGUONHANG] ([ID])
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] CHECK CONSTRAINT [FK_HOADONNHAPHANG_NGUONHANG]
GO
ALTER TABLE [dbo].[HOADONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAPHANG_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADONNHAPHANG] CHECK CONSTRAINT [FK_HOADONNHAPHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTHANHTOAN_KHACHHANG] FOREIGN KEY([IDKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([ID])
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN] CHECK CONSTRAINT [FK_HOADONTHANHTOAN_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTHANHTOAN_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADONTHANHTOAN] CHECK CONSTRAINT [FK_HOADONTHANHTOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONTRAHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONTRAHANG_NHANVIEN] FOREIGN KEY([IDNHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADONTRAHANG] CHECK CONSTRAINT [FK_HOADONTRAHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([IDLOAISANPHAM])
REFERENCES [dbo].[LOAISANPHAM] ([ID])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD CHECK  (([SOLUONG]>(-1)))
GO
